*{ list-style-type: none; text-decoration: none; color:inherit;}
.footerWrap{
    display: flex;
    justify-content: center;

}
.leftInforBox{
    padding-top: 20px;
}
.rightInforBox{
    margin-left: 50px;
}